@import '@vuepic/vue-datepicker/src/VueDatePicker/style/main.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Circular';
  font-weight: 400;
  src: url(./assets/fonts/CircularStd-Book.otf);
}

@font-face {
  font-family: 'Circular';
  font-weight: 500;
  src: url(./assets/fonts/CircularStd-Medium.otf);
}

@font-face {
  font-family: 'Circular';
  font-weight: 700;
  src: url(./assets/fonts/CircularStd-Bold.otf);
}

* {
  font-family: 'Circular';
}

.dp__pointer.dp__input_readonly.dp__input.dp__input_icon_pad.dp__input_reg {
  border: 1px solid #799BBB;
  color: #CAD6E2;
  font-size: 12px;
  padding: 3px 12px 3px 35px;
}